.mysidebar{
    position: absolute;
    top: 73px;
}

.container-fluid {
    max-width: 2800px;
 }

 .myfooter{
    position: absolute;
    bottom: 0;
    width: 100%;
    /* height: 2.5rem; */
  }

  
  